<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('component-admin/header') %>
        <title><%= title %></title>
    </head>

    <body class="hold-transition sidebar-mini">
        <%- include('component-admin/navbar') %> <%- include('component-admin/sidebar-menu') %> <%- body %> <%- include('component-admin/script') %>
    </body>
</html>
