<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('component-ormawa/header') %>
        <title><%= title %></title>
    </head>

    <body class="hold-transition sidebar-mini">
        <%- include('component-ormawa/navbar') %> <%- include('component-ormawa/sidebar-menu') %> <%- body %> <%- include('component-ormawa/script') %>
    </body>
</html>
