<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('component/header') %>
    <title><%= title %></title>
  </head>

  <body>
    <div class="container-fluid" style="height: 100vh">
      <div class="row" style="height: 100%">
        <div class="col-md-4 bg-custom d-flex flex-column bd-highlight"><%- include('component/login') %></div>
        <div class="col-md-8"><%- body %></div>
      </div>
    </div>

    <%- include('component/script') %>
  </body>
</html>
