<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('component/header') %>
        <title><%= title %></title>
    </head>


    <body>
        <% if (nama!=='Stranger') { %>
            <%- include('component/navbar') %> 
        <% } else { %>
            <%- include('component/navbarGlobal') %> 
        <% } %>
        <%- body %> 
        <%- include('component/footer') %> 
        <%- include('component/script') %>
    </body>
</html>
