<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid bg-image bg-info pt-5 pb-5 mt-5">
    <div class="container mb-5 pb-2 mt-5">
        <% if (nama!=='Stranger') { %>
        <h1 class="head-font text-white">Hi, <%= nama %>!</h1>
        <% } else { %>
        <h1 class="head-font text-white">Hi, Stranger!</h1>
        <% } %>
        <p class="p-font text-white">Selamat datang di Sistem Informasi Event Management ORMAWA dan Mahasiswa</p>
        <p class="p-font mb-4 text-white">UPN Veteran Jakarta. Ikuti event-event menarik yang dapat mengembangkan skillmu.</p>
        <a class="btn btn-success btn-custom" href="#" role="button" id="pengenalan">Pengenalan Aplikasi</a>
    </div>
</div>

<!-- search button -->
<div class="container">
    <div class="row box mt-custom text-center">
        <form action="/search" method="get">
            <% if (typeof searchQuery != 'undefined') { %>
            <input type="text" name="event" placeholder="Cari event yang ingin kamu ikuti..." value="<%= searchQuery %>" />
            <% } else { %>
            <input type="text" name="event" placeholder="Cari event yang ingin kamu ikuti..." />
            <% } %>
            <select name="category" id="list" class="">
                <% if (typeof categoryQuery != 'undefined') { %> <% const tmp = ['Kategori','Webinar','Workshop','Lomba','Lainnya'] %> <% for( let index = 0; index < tmp.length; index++ ) { %> <% const selected = (categoryQuery ===
                tmp[index]) ? "selected" : ""; %>
                <option value="<%= tmp[index] %>" <%="selected" %>><%= tmp[index] %></option>
                <% } %> <% } else { %>
                <option selected class="disabled">Kategori</option>
                <option value="Webinar" name="halo">Webinar</option>
                <option value="Workshop">Workshop</option>
                <option value="Lomba">Lomba</option>
                <option value="Lainnya">Lainnya</option>
                <% } %>
            </select>
            <input type="submit" value="Cari" />
        </form>
    </div>
</div>
