<div class="modal fade" id="daftarmodal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="model-header">
                <div class="row">
                    <div class="col text-center" style="padding: 1rem">
                        <h5 class="modal-title" id="exampleModalLongTitle"><b>Apakah Anda ingin Mendaftar Event Ini</b></h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <form action="/detail/<%= data.id_event %>" method="post">
                    <button type="submit" class="btn btn-primary btn-custom">Daftar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kembali</button>
                </form>
            </div>

          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <form action="/detail/<%= data.id_event %>" method="post">
                <button type="submit" class="btn btn-primary btn-custom">Daftar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kembali</button>
            </form>
        </div>
    </div>

  </div>

  <div class="share-btn-container shareBlock">
    <a href="#" class="facebook-btn">
      <i class="fab fa-facebook"></i>
    </a>

    <a href="#" class="twitter-btn">
      <i class="fab fa-twitter"></i>
    </a>


    <!-- <a href="#" class="linkedin-btn">
      <i class="fab fa-linkedin"></i>
    </a> -->

    <a href="#" class="whatsapp-btn">
      <i class="fab fa-whatsapp"></i>
    </a>
    <a href="#" class="copy-btn"  onclick="copyToClipboard()">
        <i class="fa fa-clone"></i>
    </a>
  </div>

  <div class="modal fade" id="sharemodal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="model-header">
          <div class="row">
            <div class="col text-center" style="padding: 1rem;">
              <h5 class="modal-title" id="exampleModalLongTitle"><b>Share Event Ini Ke Sosial Mediamu</b></h5>
            </div>
          </div>
        </div>
        <div class="modal-body" style="padding-top: 0rem;">
            <div class="row">
                <div class="col d-flex justify-content-center" style="padding: 0rem;">
                    <button type="button" class="btn btn-light rounded-circle " style="margin-right: 10px;background-color: rgba(61, 106, 214,.1);"><img src="/img/facebook.png" alt="" /></button>
                </div>
                <div class="col d-flex justify-content-center" style="padding: 0rem;">
                    <button type="button" class="btn btn-light rounded-circle " style="margin-right: 10px;background-color: rgba(239, 1, 72,.1);"><img src="/img/instagram.png" alt="" /></button>
                </div>
                <div class="col d-flex justify-content-center" style="padding: 0rem;">
                    <button type="button" class="btn btn-light rounded-circle " style="margin-right: 10px;background-color: rgba(76, 175, 80,.1);"><img src="/img/line.png" alt="" /></button>
                </div>
                <div class="col d-flex justify-content-center" style="padding: 0rem;">
                    <button type="button" class="btn btn-light rounded-circle " style="margin-right: 10px;background-color: rgba(76, 175, 80,.1);"><img src="/img/whatsapp.png" alt="" /></button>
                </div>
                <div class="col d-flex justify-content-center" style="padding: 0rem;">
                    <button type="button" class="btn btn-light rounded-circle " style="margin-right: 10px;background-color: rgba(29, 161, 243,.1);"><img src="/img/twitter.png" alt="" /></button>
                </div>

            </div>
          </div>
        <div class="modal-footer justify-content-center">
                <p>Atau Copy Link: </p>
                <p class="border me-4 px-4 py-2 rounded-pill text-wrap" style="background-color: #E4E4E4;color: #2F4858;">https:/sim-u/bagasssss</p>
                
        </div>
      </div>
    </div>
  </div>
<div class="container" style="background-color: #D7F9DB;margin-top: 100px;margin-bottom: 80px;">

    <div class="row">
        <div class="col d-flex justify-content-center" style="margin-top: 50px; margin-bottom: 50px">
            <img src="<%= data.photo.avatar %>" alt="photo profil" width="500" height="600" />
        </div>
        <div class="col gap-3" style="margin-top: 50px; margin-bottom: 50px">
            <div class="row">
                <div class="col mt-3">
                    <h1><b><%= data.nama_event %></b></h1>
                </div>
            </div>
            <div class="row">
                <div class="col mt-1 d-flex">
                    <p class="border me-4 px-4 py-2 rounded-pill text-wrap" style="background-color: #008493; color: white"><%= data.kategori %> </p>
                    
                </div>
            </div>
            <div class="row">
                <div class="col mt-1 d-flex">
                    <img src="<%= data.photoOrmawa.avatar %>" alt="penyelenggara" width="65" height="75" />
                    <div class="col ms-4">
                        <h3><%= data.detil_eo %></h3>
                        <a href="/<%= data.id_eo %>/events">Lihat Semua Event</a>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="row mt-1">
                    <div class="col mt-1 d-flex">
                        <span class="glyphicon glyphicon-off me-2" aria-hidden="true"><img src="/img/date.png" alt="Test" /></span>
                        <p><%= data.tanggal_event.toISOString().substring(0, 10) %></p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col mt-1 d-flex">
                        <span class="glyphicon glyphicon-off me-2" aria-hidden="true"><img src="/img/user.png" alt="Test" /></span>
                        <p><%= data.registered_people.length %> Orang Terdaftar</p>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col pe-5 d-flex justify-content-end" style="margin-top: 100px">
                    <% if (tombol !== 'ada') { %>
                    <button type="button" class="btn px-4 py-2 btn-primary btn-custom" style="margin-right: 10px" data-bs-toggle="modal" data-bs-target="#daftarmodal">Daftar Event</button>

                    <% } else { %>
                    <button type="button" class="btn px-4 py-2 btn-primary btn-custom disabled" style="margin-right: 10px" aria-disabled="true">Sudah terdaftar!</button>
                    <% } %>
                    <!-- <button onclick="copyToClipboard()"  class="btn btn-secondary btn-share" style="margin-right: 10px"><img src="/img/share.png" alt="" /></button> -->
                    <% if (tombol2 !== 'ada') { %>
                    <form method="post" action="/detail/<%= data.id_event %>/saved">
                        <button type="submit" class="btn btn-secondary btn-share" style="margin-right: 10px"><img src="/img/save-instagram.png" alt="" /></button>
                    </form>

                    <% } else { %>
                    <form method="post" action="/detail/<%= data.id_event %>/saved?_method=DELETE">
                        <button type="submit" class="btn btn-secondary btn-share" style="margin-right: 10px"><img src="/img/bookmark.png" alt="" /></button>
                    </form>
                    <% } %>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h2>Deskripsi Event</h2>
        <p><%= data.deskripsi_event %></p>
    </div>
    <hr />
</div>
<div class="container">
    <div class="row">
        <h2>Benefits Event</h2>
        <p><%= data.benefits %></p>
    </div>
    <hr />
</div>
<div class="container">
    <div class="row">
        <h2 class="mb-4">Prasyarat Event</h2>
        <h4 class="mb-4">1.Follow Instagram @UswahUPNVJ</h4>
        <div class="form-group d-flex justify-content-start ms-5 mb-4">
            <label for="file-upload" class="custom-file-upload"> Upload Bukti </label>
            <input id="file-upload" type="file" accept="image/*" />
        </div>
        <h4 class="mb-4">2.Follow Youtube @UswahUPNVJ</h4>
        <div class="form-group d-flex justify-content-start ms-5 mb-4">
            <label for="file-upload" class="custom-file-upload"> Upload Bukti </label>
            <input id="file-upload" type="file" accept="image/*" />
        </div>
        <h4 class="mb-4">3.Share ke 5 grup WhatsApp Kamu</h4>
        <div class="form-group d-flex justify-content-start ms-5 mb-4">
            <label for="file-upload" class="custom-file-upload"> Upload Bukti </label>
            <input id="file-upload" type="file" accept="image/*" />
        </div>
    </div>
    <hr />
</div>
