<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Event Saya</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/dashboard-ormawa">Home</a></li>
                            <li class="breadcrumb-item active">Event Saya</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <a class="btn btn-custom btn-sm" href="/addevent-ormawa">
                        <i class="fa fa-calendar"> </i>
                        Buat Event Baru
                    </a>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                            <tr>
                                <th style="width: 1%">No</th>
                                <th style="width: 15%">Nama Event</th>
                                <th style="width: 10%">Tanggal Event</th>
                                <th style="width: 20%">Deskripsi Event</th>
                                <th style="width: 15%">Jumlah Pendaftar</th>
                                <th style="width: 8%" class="text-center">Status</th>
                                <th style="width: 30%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let i = 1 %> <% events.forEach(event =>{ %>
                            <tr>
                                <td><%= i %></td>
                                <td>
                                    <a><%= event.nama_event %></a>
                                    <br />
                                    <!-- <medium> Created 01.01.2019 </medium> -->
                                </td>
                                <td><%= event.tanggal_event.toISOString().split('T')[0] %></td>
                                <td><%= event.deskripsi_event %></td>
                                <td class="project_progress">
                                    <medium> <%= event.registered_people.length %> Peserta</medium>
                                </td>
                                <td class="project-state">
                                    <% if (dateNow >= event.tanggal_event) { %>
                                    <span class="badge badge-success">Event Selesai</span>
                                    <% } else if (dateNow === event.tanggal_event) { %>
                                    <span class="badge bg-warning text-dark">Event Sedang Berlangsung</span>
                                    <% } else { %>
                                    <span class="badge bg-danger">Event Belum Mulai</span>
                                    <% } %>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary bg-navy btn-sm nav_link nav__link" href="/detail-event/<%= event.id_event %>">
                                        <i class="fas fa-folder"> </i>
                                        Details
                                    </a>

                                    <a class="btn btn-info btn-sm" href="/edit-event/<%= event.id_event %>">
                                        <i class="fas fa-pencil-alt"> </i>
                                        Edit
                                    </a>
                                    <!--Modal Delete-->
                                    <div class="modal fade" id="deletemodal" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="model-header">
                                                    <div class="row">
                                                        <div class="col text-center" style="padding: 1rem">
                                                            <h5 class="modal-title" id="exampleModalLongTitle"><b>Apakah Anda ingin Menghapus Event Ini</b></h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer d-flex justify-content-center">
                                                    <form method="post" action="/delete/<%= event.id_event %>?_method=DELETE">
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kembali</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-danger btn-sm" href="#" data-toggle="modal" data-target="#deletemodal">
                                        <i class="fas fa-trash"> </i>
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            <% i++ %> <% }) %>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.2.0-rc</div>
    </footer>
</div>
