<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Detail Event</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Detail Event</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="form-group">
                            <div class="card-body box-profile">
                                <label for="inputName">Poster Event</label>
                                <div class="text-center">
                                    <img class="img-fluid" src="/img/poster.png" alt="User profile picture" />
                                </div>
                            </div>
                        </div>

                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-body">
                            <fieldset disabled>
                                <div class="form-group">
                                    <label for="inputName">Nama Event</label>
                                    <input type="text" id="inputName" class="form-control" value="<%= event.nama_event %>" />
                                </div>
                                <div class="form-group">
                                    <label for="deskripsi_event">Deskripsi Event</label>
                                    <textarea id="inputDescription" class="form-control" rows="25"><%= event.deskripsi_event %></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="benefit_event">Benefit Event</label>
                                    <textarea id="inputDescription" class="form-control" rows="5"><%= event.benefits %></textarea
                                    >
                                </div>
                                <div class="form-group">
                                    <label for="tgl_lahir"><b>Tanggal Event: </b></label>
                                    <input type="text" class="form-control" name="tgl_event" placeholder="Tanggal Event" value="<%= event.tanggal_event.toISOString().substring(0, 10) %>"/>
                                </div>
                                <div class="form-group mb-5">
                                    <label for="inputStatus">Kategori: </label>
                                    <select id="inputStatus" class="form-control custom-select">
                                        <% const tmp = ['Kategori','Webinar','Workshop','Lomba','Lainnya'] %>
                                        <% for( let index = 0; index < tmp.length; index++ ) { %>
                                            <% const selected = (event.kategori === tmp[index]) ? "selected" : ""; %>
                                            <option value='<%= tmp[index] %>' <%= selected %>><%= tmp[index] %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </fieldset>
                            <div class="text-right">
                                <% if (event.isVerified === false) { %>
                                    <form method="post" action="/event-accept/<%= event.id_event %>?_method=PUT">
                                        <button type="submit" class="btn btn-success">Konfirmasi</button>
                                    </form>
                                <% } %>
                                <form method="post" action="/event-delete/<%= event.id_event %>?_method=DELETE">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                    <a href="/event-admin" class="btn btn-secondary">Kembali</a>
                                </form>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="float-right d-none d-sm-block"><b>Version</b> 3.1.0</div>
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
</footer>
